@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-grey1: #181818;
  --color-brand-grey2: #212121;
  --color-brand-grey3: #303030;
  --color-brand-grey4: #4C4C4C;
  --color-brand-purple1: #7D5BF8;
  --color-brand-purple2: #5B3FCF;
  --color-brand-purple3: #3E2A99;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #212121;
  border-right: 1rem solid transparent;
}

::-webkit-scrollbar-thumb {
  background: #7D5BF8;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E2A99;
}